version: "3.4"
services:
  custom_base:
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - DOZZLE_FILTER=name=custom_base
      - DOZZLE_BASE=/foobarbase
      - DOZZLE_NO_ANALYTICS=1
    ports:
      - 8080:8080
    build:
      context: .
  auth:
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - DOZZLE_FILTER=name=auth
      - DOZZLE_USERNAME=foo
      - DOZZLE_PASSWORD=bar
      - DOZZLE_NO_ANALYTICS=1
    ports:
      - 9090:8080
    build:
      context: .
  dozzle:
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - DOZZLE_FILTER=name=dozzle
      - DOZZLE_NO_ANALYTICS=1
    ports:
      - 7070:8080
    build:
      context: .
  playwright:
    image: mcr.microsoft.com/playwright:v1.33.0-jammy
    working_dir: /app
    volumes:
      - .:/app
    command: npx --yes playwright test
    depends_on:
      - dozzle
      - custom_base
      - auth
