@charset "utf-8";

$menu-item-active-background-color: hsl(171, 100%, 41%);
$menu-item-color: hsl(0, 6%, 87%);

@import "~bulma";
@import "../node_modules/splitpanes/dist/splitpanes.css";
@import "~buefy/src/scss/utils/_all";
@import "~buefy/src/scss/components/_dropdown";
@import "~buefy/src/scss/components/_switch";

html {
  overflow-x: unset;
  overflow-y: unset;
  scroll-snap-type: y proximity;
  background-color: #111;
}

body {
  font-family: "Roboto", sans-serif;
  color: #ddd;
}

h1.title {
  font-family: "Gafata", sans-serif;
}

html.has-custom-scrollbars {
  ::-webkit-scrollbar {
    width: 8px;
    display: content;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.33);
    outline: 1px solid slategrey;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: #777;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-track:hover {
    background-color: rgba(64, 64, 64, 0.33);
  }

  section main {
    scrollbar-color: #353535 transparent;
    scrollbar-width: thin;
  }
}

.is-settings-control {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  border-color: transparent;
  &:hover {
    border-color: rgb(255, 221, 87) !important;
    background: rgba(0, 0, 0, 0.8) !important;
    color: #fff !important;
  }

  &:focus {
    box-shadow: none !important;
    color: unset;
    border-color: transparent;
  }
}

html.has-light-theme {
  background-color: #fbf4f2;

  body {
    color: #333;
  }

  .title.is-4,
  .title.is-6 {
    color: #333;
  }

  .menu-list a {
    color: #333;

    &:hover {
      background-color: #eee8e7;
    }
    &.is-active {
      background-color: #d8f0ca;
    }
  }

  span.date {
    background-color: #f3ded8;
    color: #00802b;
    padding-left: 5px;
    padding-right: 5px;
  }

  h1.title.has-text-warning {
    color: #ffcc00;
  }
}