@charset "utf-8";

$menu-item-active-background-color: hsl(171, 100%, 41%);
$menu-item-color: hsl(0, 6%, 87%);

@import "~bulma";
@import "../node_modules/splitpanes/dist/splitpanes.css";
@import "~buefy/src/scss/utils/_all";
@import "~buefy/src/scss/components/_dropdown";
@import "~buefy/src/scss/components/_switch";

.is-dark {
  color: #ddd;
  background-color: #111;
}

body {
  font-family: "Roboto", sans-serif;
}

h1.title {
  font-family: "Gafata", sans-serif;
}

html {
  overflow-x: unset;
  overflow-y: unset;
}
