@charset "utf-8";

$menu-item-active-background-color: hsl(171, 100%, 41%);
$menu-item-color: hsl(0, 6%, 87%);

@import "../node_modules/bulma/bulma.sass";

.is-dark {
  color: #ddd;
  background-color: #111;
}

body {
  font-family: "Roboto", sans-serif;
}

h1.title {
  font-family: "Gafata", sans-serif;
}
