tml.dark .shiki-light {
  display: none;
}

html:not(.dark) .shiki-dark {
  display: none;
}


a:not(header *):not(nav *) {
  @apply underline hover:text-teal-600;
}

header > nav > a {
  @apply  hover:text-teal-600 transition duration-200 ease-in-out ;
}
