on: push
name: Test
jobs:
  npm-test:
    name: npm test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: npm test
        uses: actions/setup-node@v1
      - name: npm it
        run: npm it
  go-test:
    name: go test
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.14.x
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Test
        run: go test -cover ./...
