on: push
name: Test
jobs:
  npm-test:
    name: JavaScript Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.5
      - name: Install Node
        uses: actions/setup-node@v2.4.1
      - name: Install dependencies
        run: yarn
      - name: Run Tests
        run: yarn test
  go-test:
    name: Go Tests
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2.1.4
        with:
          go-version: 1.17.x
      - name: Checkout code
        uses: actions/checkout@v2.3.5
      - name: Run Go Tests with Coverage
        run: make test SKIP_ASSET=1
  int-test:
    name: Integration Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.5
      - name: Build images
        run: docker-compose -f integration/docker-compose.test.yml build
      - name: Run tests
        run: docker-compose -f integration/docker-compose.test.yml run integration
