on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - master
name: Test
jobs:
  npm-test:
    name: JavaScript Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.4.0
      - name: Install Node
        uses: actions/setup-node@v2.5.0
      - name: Install pnpm
        uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.20.1
      - name: Install dependencies
        run: pnpm install
      - name: Run Tests
        run: pnpm run test
  go-test:
    name: Go Tests
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2.1.4
        with:
          go-version: 1.17.x
      - name: Checkout code
        uses: actions/checkout@v2.4.0
      - name: Run Go Tests with Coverage
        run: make test SKIP_ASSET=1
  int-test:
    name: Integration Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.4.0
      - name: Build images
        run: docker-compose -f e2e/docker-compose.yml build
      - name: Run tests
        run: docker-compose -f e2e/docker-compose.yml up --build --force-recreate --exit-code-from cypress
